*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    --dark-blue: #0b274c;
    --light-blue: #4b73ab;
    --orange: #fa8734;
}

nav{ 
    flex: auto;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    padding: 20px;
}

div.myname{
    background-color: var(--light-blue);
    padding: 15px 20px;
    position: absolute;
    left:0px;
}

#name{
    color: var(--orange);
    font-size: 30px;
    background-color:var(--light-blue);
    padding: 0px 100px 0px 20px;
    }

li{
    display: inline;
    margin: 5px;
    font-size: 24px;
    a{
        position: relative;
        text-decoration: none;
        border-bottom: 2px solid var(--light-blue);
        color: var(--orange);
     
     }
    
}

li:hover{
    background-color: var(--light-blue);
    transition: 0.5s ease-in-out;
}

figure{
    flex: auto;
    background-image: url(/assets/images/abstract-blue-orange-top.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
}

#quote{
    font-size: 25px;
    position: absolute;
    right: 0px;
    top: 200px;
    background-color: var(--light-blue);
    border: 10px solid var(--light-blue);

}

em{
    background-color: var(--dark-blue);
    color: white;
    font-style: normal;
    font-family: Courier;
}

h2{
    float: left;
    font-size: 30px;
    padding: 10px;
    margin: 20px;
}

.ami{
    display: flex;
    justify-content: space-between;
}

#about-me{
    margin: 10px 0px 90px 30px;
}

#me{
    font-size: 22px;
    display: block;
    padding-left: 50px;
    margin: 30px 150px 50px 0px;
    border-left: 5px solid var(--dark-blue);
}

#work{
    padding-right: 20px;
    margin: 10px 0px 90px 30px;
}

.container{
    display: flex;
    flex-flow:wrap column;
    align-items: center;
    border-left: 5px solid var(--dark-blue);
    margin-left: 40px;
}

.photo{
    position: relative;
    border: 5px solid var(--light-blue);
    margin: 10px;
img{
    vertical-align: bottom;
    opacity: 0.8;
}
}

div.row{
    display: flex;
    flex-flow: row;
}

h3 {
    color: var(--orange);
    position: absolute;
    bottom: 50px;
    font-size: 20px;
    background-color: var(--light-blue);
    padding: 9.5px;
}

h4{
    color: var(--orange);
    position: absolute;
    bottom: 30px;
    background-color: var(--light-blue);
    font-size: 15px;
    padding: 5px 7px;

}

img:hover {
    opacity: 1;
    transition: 0.5s ease;
}

#cm{
    margin: 0px 0px 90px 30px;
}

.info {
    display: flex;
    justify-content:center;
    border-left: 5px solid var(--dark-blue);
   
    a {
        text-decoration: none;
        color: var(--orange);
        font-size: 20px;
        border-bottom: 2px solid var(--light-blue);
        margin: 50px 20px 50px 20px;
        background-color: none;
}
}

.info a:hover{
    background-color: var(--light-blue);
    transition: 0.5s ease-in;
}



@media screen and (max-width: 412px)  {
    main,
    nav{
        flex-direction: column;
    }
}